<p>
lat: {{telem.lat}} lon: {{telem.lon}}
</p>
<button mat-button (click)="connect()">connected: {{connected}}</button>
<button mat-button (click)="loadNewPos()">test map pos</button>
<button mat-button (click)="pushMarker()">test push marker</button>
<agm-map id="map" [latitude]="telem.lat" [longitude]="telem.lon">
	<agm-marker 
		*ngFor="let m of markers"
	 	[latitude]="m.lat"
	 	[longitude]="m.lng"
	 	[markerDraggable]="m.draggable"
	>
		<agm-info-window>
			{{m.label}}
		</agm-info-window>
	</agm-marker>

	<map-child (onMapLoad)='loadAPIWrapper($event)'></map-child>
</agm-map>
